<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{{page.description}}">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

<title>{{ page.title }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108578980-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108578980-1');
</script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Microservices-Praxisbuch</h1>
          <h2 id="project_tagline">Grundlagen, Konzepte und Rezepte</h2>

      <section id="links">
        <a href="index.html">Home</a>
        <a href="rezepte.html">KOSTENLOSE Rezepte</a>
        <a href="klappentext.html">Inhalt</a>
        <a href="leseproben.html">Leseproben</a>
        <a href="errata.html">Errata</a>
        <a href="kaufen.html">Kaufen</a>
        <a href="links.html">Links</a>
      </section>
      
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Copyright Eberhard Wolff</p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
